#headerContent{
	padding: 18px 0 36px 0;
	background-image: url("../images/woodBackground.jpg");
	background-size: cover;
	text-align: center;
}

.sep{
	padding: 15px 0;
}

#shareFaithLogo{
	width: 18%;
}

#welcome{
	color: white;
	font-size: 58px;
}

#middleContent{
	background-color: white;
	padding: 88px 0;
	text-align: center;
}

#footerContainer{
	background-color: black;
}

#footerForm{
	max-width: 280px;
	margin: 0px 0px 0px 14%;
	padding: 70px 0;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

#footerLinks{
	float: right;
	max-width: 280px;
	margin: 0px 30% 0px 0px;
	padding: 70px 0;
}