#headerContent{
	padding: 18px 0 36px 0;
	background-image: url("../images/woodBackground.jpg");
	background-size: auto;
	text-align: center;
	zoom: 2;
}

.sep{
	padding: 15px 0;
}

#shareFaithLogo{
	width: 18%;
}

#welcome{
	color: white;
	font-size: 58px;
}

#middleContent{

}

#footerContainer{

}